// Placeholder Classes
// ===================
// 
%bg-dark {
    color: #fff;
    
    a:not(.btn),
    .btn-link {
        &,
        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
    }
}

%bg-light {
    color: $text-color;
    
    a:not(.btn),
    .btn-link {
        &,
        &:hover,
        &:focus,
        &:active {
            color: $link-color;
        }
    }
}

// Background colors
// =================
// 
.bg-charcoal-dark {
    @extend %bg-dark;
    background-color: $charcoal-dark;

    hr {
        border-color: $charcoal;
    }
}

.bg-charcoal {
    @extend %bg-dark;
    background-color: $charcoal;

    hr {
        border-color: $charcoal-light;
    }
}

.bg-charcoal-light {
    @extend %bg-dark;
    background-color: $charcoal-light;

    hr {
        border-color: $charcoal-lighter;
    }
}

.bg-brand-blue-dark {
    @extend %bg-dark;
    background-color: $brand-blue-dark;

    hr {
        border-color: $brand-blue;
    }
}

.bg-brand-blue {
    @extend %bg-dark;
    background-color: $brand-blue;

    hr {
        border-color: $brand-blue-light;
    }
}

.bg-brand-blue-light {
    @extend %bg-dark;
    background-color: $brand-blue-light;

    hr {
        border-color: $brand-blue;
    }
}

.bg-blue-alt {
    @extend %bg-dark;
    background-color: $blue-alt;

    hr {
        border-color: $blue-alt-light;
    }
}

.bg-blue-alt-light {
    @extend %bg-dark;
    background-color: $blue-alt-light;
    
    hr {
        border-color: $blue-alt-lighter;
    }
}

.bg-blue-alt-lighter {
    background-color: $blue-alt-lighter;
    hr {
        border-color: $blue-alt-lightest;
    }
}


.bg-blue-alt-lightest {
    background-color: $blue-alt-lightest;
    hr {
        border-color: $blue-alt-lighter;
    }
}

.bg-green {
    @extend %bg-dark;
    background-color: $green;

    hr {
        border-color: $green-light;
    }
}


.bg-gray-light {
    @extend %bg-light;
    background-color: $brand-gray-light;

    hr {
        border-color: $brand-gray;
    }
}

.bg-gray-lighter {
    @extend %bg-light;
    background-color: $brand-gray-lighter;

    hr {
        border-color: $brand-gray;
    }
}

.bg-gray-lightest {
    @extend %bg-light;
    background-color: $brand-gray-lightest;

    hr {
        border-color: $brand-gray;
    }
}

.bg-white {
    @extend %bg-light;
    background-color: #fff;

    hr {
        border-color: $brand-gray-light;
    }
}

// Background images
// =================
// 
.bg-workspace-dark {
    background-image: url('https://content.capitaloneinvesting.com/mgdcon/core/COI/images/landing-page/bg-workspace-dark.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
