%table-common {
    margin-bottom: 0;
    table-layout: fixed;
}

.table-bonus-vertical {
    @extend %table-common;

    > thead > tr > th,
    > tbody > tr > td {
        vertical-align: middle;
        text-align: center;
        line-height: 1.2;
    }

    > thead > tr > th {
        background-color: $brand-gray-light;
        font-size: $font-size-small;
        border-bottom: none;
    }

    > tbody > tr:first-child > td {
        border-top: none;
    }

    th:first-child,
    td:first-child {
        font-size: $font-size-h3;
        font-weight: 300;
    }

    td:first-child {
        color: $brand-blue-light;
    }

    .highlight-heading {
        background-color: $brand-blue-light;
        color: #fff;
    }

    td:first-child.highlight-cell {
        color: $green;
        font-weight: 400;
    }
}

.table-bonus-horizontal {
    @extend %table-common;

    > thead > tr > th,
    > tbody > tr > td,
    > tbody > tr > th {
        padding: $table-cell-padding * 2;
        border: 1px solid $brand-gray-lightest;
        border-top-color: $brand-gray-light;
        border-bottom: none;
        vertical-align: middle;
        text-align: center;
        line-height: 1.2;
    }

    > tbody > tr > td {
        color: $charcoal-light;
        font-weight: 300;
    }

    tr:first-child {
        > th,
        > td {
            font-size: $font-size-h3;
            
            &.highlight-heading {
                background-color: $brand-blue-light;
                color: #fff;
            }            
            
            &.highlight-cell {
                color: $green;
                font-weight: 400;        
            }
        }
    }

    tr > th:first-child,
    tr > td:first-child {
        background-color: $brand-gray-light;
        font-weight: 400;
    }
}

.table-comparison-horizontal {
    @extend %table-common;

    > thead > tr > th,
    > tbody > tr > td,
    > tbody > tr > th {
        padding: $table-cell-padding * 2;
        border: 1px solid $brand-gray-lightest;
        border-top-color: $brand-gray-light;
        border-bottom: none;
        vertical-align: middle;
        text-align: center;
        line-height: 1.2;

        &:first-child {
            text-align: left;
        }
    }

    > tbody > tr > td {
        color: $charcoal-light;
        font-weight: 300;
    }

    th {
        font-weight: 400;
    }

    > thead > tr > th {
        background-color: $brand-gray-light;
    }

    .row-large > td {
        font-size: $font-size-h3;
    }

    .highlight {
        background-color: $brand-blue-light;
        color: #fff;
        font-weight: 400;
    }
}

.table-comparison-vertical {
    @extend %table-common;

    > thead > tr > th,
    > tbody > tr > td {
        padding: ($table-cell-padding * 2) $table-cell-padding;
        border: 1px solid $brand-gray-lightest;
        border-top-color: $brand-gray-light;
        border-bottom: none;
        vertical-align: middle;
        text-align: center;
        line-height: 1.2;
    }

    > thead > tr > th {
        font-size: $font-size-small;
        background-color: $brand-gray-light;
    }

    > tbody > tr:first-child > td {
        color: #fff;
        background-color: $brand-blue-light;
    }
}

.table > tbody + tbody {
    border-top: none;
}